@font-face {
	font-family: "perso";
	src: url("caviar_dreams/CaviarDreams_Bold.ttf");
}

body{
/*    background: url("1.jpg") no-repeat center fixed; */
    backgound-size: cover;
    text-align: left;
    font-family: perso;
}

.back {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: black;
}

.back img {
    height: 100%;
    animation-name: glow;
    animation-duration: 0.5s;
}

#title {
    position: absolute;
    top: 0.5vh;
    left: 37vw;
    font-size: 5vh;
    color: white;
    text-align: center;
    animation-duration: 0.5s;
    animation-name: zoom;
}

h2 {
    color: white;
    font-size: 4.5vh;
}



a:visited{color: #aaa;}
a:link{color: #aaa;}
a:hover{
    color: white;
    font-size: 4.2vh;
}
a{
    text-decoration: none;
    font-size: 4vh;
}

p {
    padding-left: 2vw;
    line-height: 2.5vh;
}


.news {
    position: absolute;
    top: 15vh;
    left: 20vw;
    animation-duration: 0.5s;
    animation-name: slide2R;
}

.reddit {
    position: absolute;
    top: 15vh;
    left: 65vw;
     animation-duration: 0.5s;
    animation-name: slide2L;
}

.code {
    position: absolute;
    top: 60vh;
    left: 20vw;
    animation-duration: 0.5s;
    animation-name: slide2R;
}

.com {
    position: absolute;
    top: 15vh;
    left: 3vw;
    animation-duration: 0.5s;
    animation-name: slide2R2;
}


.ent {
    position: absolute;
    top: 60vh;
    left: 65vw;
    animation-duration: 0.5s;
    animation-name: slide2L;
}

@keyframes slide2L {
    from {
	position: absolute;
	left: 100vw;
    }
    to {
	position: absolute;
	left: 65vw;
    }
}

@keyframes slide2R {
    from {
	position: absolute;
	left: -20vw;
    }
    to {
	position: absolute;
	left: 20vw;
    }
}

@keyframes slide2R2 {
    from {
	position: absolute;
	left: -20vw;
    }
    to {
	position: absolute;
	left: 3vw;
    }
}

@keyframes zoom {
    0% {
	left: 50vw;
	font-size: 0vh;
    }
    100% {
	left: 37vw;
	font-size: 5vh;
    }
}

@keyframes glow {
    0% {
	filter: brightness(0);
    }
    100% {
	filter: brightness(1);
    }
}
